@import "tailwindcss";

@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

/* 2. Pengganti 'theme.extend' */
@theme {
  /* Font Family */
  --font-roboto: 'Roboto';
  --font-inter: 'Poppins', sans-serif;

  /* Colors */
  --color-utama: #277471;

  /* Background Images */
  --background-image-select-arrow: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTExLjk5OTcgMTMuMTcxNEwxNi45NDk1IDguMjIxNjhMMTguMzYzNyA5LjYzNTg5TDExLjk5OTcgMTUuOTk5OUw1LjYzNTc0IDkuNjM1ODlMNy4wNDk5NiA4LjIyMTY4TDExLjk5OTcgMTMuMTcxNFoiIGZpbGw9InJnYmEoMTU2LDE2MywxNzUsMSkiPjwvcGF0aD48L3N2Zz4=");
}